<div id="home_search">

    <div id="logo">
        <a href="/" title="MetaCPAN home page">
            <img src="/static/images/cpan_banner.png" alt="CPAN Logo" />
            <span>BETA</span>
        </a>
    </div>

    <form action="/search">
        <div>
            <input type      = "text"
                   name      = "q"
                   autofocus = "autofocus"
                   id        = "search-input"
                   class     = "autofocus" >
            <div class = "buttons">
                <button type="submit">
                    Search the CPAN
                </button>
                <button type="submit" name="lucky" value="1">
                    I'm Feeling Lucky
                </button>
           </div>

        </div>
    </form>
    <p id = "hint">
        <% hints = ['Press shift and enter if you are feeling lucky'] %>
        Hint: <% hints.pick %>
    </p>

</div>