<%- title = "Distributions which depend on " _ module %>
<div class = "body" id = "reverse-deps">
    <h1><% title %></h1>
    <div class="side-bar">
      <% INCLUDE inc/activity.html  query = "requires=" _ module %>
    </div>
<%
    IF data.size > 0;
        INCLUDE inc/release-table.html
            releases = data,
            header = 1,
            tablesorter = 1;
        INCLUDE inc/pager.html
            size = 50;
    ELSE;
%>
       <h2>No modules depend on <% module %></h2>
<%
    END
%>
</div>

<script>defaultSort = [[2,1]];</script>
