<%-
    query = req.param('q').join(' ');
    title = 'Search for "' _ query _ '"'
%>
<div class = "body" id = "results">
    <h1>Search results</h1>
    <div class="side-bar">
        <div class = "side-box">
          <!--<ul class="search-type">
                <a href="/search?q="><li class="icon icon-module">Modules</li></a>
                <a href="/search?q=author:<% query %>"><li class="icon icon-user">Authors</li></a>
                <li class="icon icon-dist">Distributions</li>
                <li class="icon icon-server">Mirrors</li>
            </ul>
            <hr>-->
            <strong>Something missing?</strong>
            <p>It's probably a bug. <a href="https://github.com/CPAN-API/metacpan-web/issues/new">Report it!</a></p>
        </div>
    </div>

    <% PROCESS search/author_results.html IF authors.total %>
    <% PROCESS search/search_results.html %>
    <% INCLUDE inc/pager.html size = 20 %>
    <div class = "clear">&nbsp;</div>
</div>
