<!DOCTYPE HTML>
<html>
<head>
    <title>
        <% title || 'Search the CPAN'; %> - metacpan.org
    </title>
    <% IF rss %>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://metacpan.org/feed/<% rss %>" />
    <% END %>

    <% PROCESS wrapper/dev_css.html %>
    <!--
    <link href="<% req.env.item('psgix.assets').1 %>" rel="stylesheet" type="text/css">
    -->
    <link rel="search" href="/static/opensearch.xml" type="application/opensearchdescription+xml" title="MetaCPAN">

    <script src="<% req.env.item('psgix.assets').0 %>" type="text/javascript"></script>
</head>
<body>
    <% INCLUDE wrapper/header.html %>
    <% INCLUDE wrapper/github_issue.html %>
    <% INCLUDE wrapper/search_form.html UNLESS req.uri.path == '/';%>
  <br>
  <div id="content"><% content | none %>
  </div>
  <br><br><br>
    <% PROCESS wrapper/footer.html %>
    <% PROCESS wrapper/piwi_tracking.html %>
  </body>
</html>
