<!DOCTYPE HTML>
<html>
<head>
    <title>
        <% title || 'Search the CPAN'; %> - metacpan.org
    </title>
    <% IF rss %>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://metacpan.org/feed/<% rss %>" />
    <% END %>

    <% PROCESS wrapper/dev_css.html %>
    <!--
    <link href="<% req.env.item('psgix.assets').1 %>" rel="stylesheet" type="text/css">
    -->
    <link rel="search" href="/static/opensearch.xml" type="application/opensearchdescription+xml" title="MetaCPAN">

    <script src="<% req.env.item('psgix.assets').0 %>" type="text/javascript"></script>
</head>
<body>
    <% INCLUDE wrapper/header.html %>
    <% INCLUDE wrapper/github_issue.html %>
  <% IF req.uri.path != '/' %>
  <div style="text-align: center" class="home">
    <form action="<% IF req.uri.path == '/mirrors'; req.uri.path; ELSE; '/search'; END %>">
      <div style="display: inline-block; text-align: left">
        <a href="/" style="float: left"><img src="/static/images/cpan_banner.png" width="168" height="49" alt="CPAN Logo"></a>
        <div style="float: left; padding-top: 13px; padding-left: 10px">
      <div class="ds">
        <input type="text" name="q" size="41" id="search-input" value="<% req.param('q').join(' ') or req.parameters.lucky %>"><input type="submit" value="Search" class="g-button" />
      </div>
      <br><small style="font-size: 0.8em"><% IF total.defined; IF page > 1 %>Page <% page %> of <% END; IF total == 999; 'more than '; END; total | format_number %> result<% IF total != 1; 's'; END %> (<% took / 1000 %> seconds)<% END %></small></div>
      
      <div style="float: left; width: 168px"></div>
      </div>
    </form>
  </div>
  <% END %>
  <br>
  <div id="content"><% content | none %>
  </div>
  <br><br><br>
    <% PROCESS wrapper/footer.html %>
    <% PROCESS wrapper/piwi_tracking.html %>
  </body>
</html>
