<%
    class = module.favorites ? 'highlight' : '';
    count = module.favorites || '';
    title = SWITCH count;
                CASE ''; "Be the first to like " _ module.distribution;
                CASE 1 ; "One person likes " _ module.distribution;
                CASE   ; count _ " people like " _ module.distribution;
            END;

    IF user_exists;
        type = 'submit';
%>
    <form action="/account/favorite/add" onsubmit="return favDistribution(this)">
<%
        IF module.myfavorite;
            class = class _ ' active';
%>
            <input type="hidden" name="remove" value="1">
<%
        END
-%>
        <input type="hidden" name="release"      value="<% module.release || module.name %>">
        <input type="hidden" name="author"       value="<% module.author %>">
        <input type="hidden" name="distribution" value="<% module.distribution %>">

        <% PROCESS button %>
    </form>
<%
    ELSE;
        click = 1;
        type  = 'button';
        PROCESS button;
    END;
-%>

<% BLOCK button %>
    <button type  = "<% type %>"
            class = "favorite <% class %>"
            title = "<% title %>"
            <% IF click %>
                onclick = "alert('Please sign in to add favorites'); return false"
            <% END %>
    ><% count %>++</button>
<% END %>
