<%
    IF releases.size == 0;
        RETURN;
    END;
%>
<table class="releases<% IF tablesorter %> tablesorter remote<% END %>">
<%- IF header %>
    <thead>
        <tr>
            <th class="name">Release</th>
            <th class="abstract">Abstract</th>
            <th class="date">Date</th>
        </tr>
    </thead>
<%- END %>
    <tbody>
<%
    i = 0;
    FOREACH release IN releases
        i     = i + 1;
        class = i % 2 ? 'class="odd"' : '';
        title = release.author _ '/' _  release.name;
        href  = release.status == 'latest'
              ? release.distribution
              : title;
%>
    <tr <% class | none %>>
        <td class="name">
            <a href="/release/<% href %>" title="<% title %>">
                <% release.name %>
            </a>
        </td>
        <td class="abstract">
            <% IF release.abstract; release.abstract; '&nbsp;' | none; END %>
        </td>
        <td class="date">
            <span class="relatize" sort="<% release.date.dt_http %>">
                <% release.date.dt_http %>
            </span>
        </td>
    </tr>
<%
    END
%>
    </tbody>
</table>