    <link href="/static/css/jquery.autocomplete.css"    rel="stylesheet" type="text/css">
    <link href="/static/css/jquery.qtip.min.css"        rel="stylesheet" type="text/css">
    <link href="/static/css/shCore.css"                 rel="stylesheet" type="text/css">
    <link href="/static/css/shThemeDefault.css"         rel="stylesheet" type="text/css">
    <link href="/static/css/style.css"                  rel="stylesheet" type="text/css">
    <link href="/static/css/style_diff.css"             rel="stylesheet" type="text/css">
    <link href="/static/css/tablesorter.css"            rel="stylesheet" type="text/css">
