<ul id = "footer" class="navbar">
    <li>
        <a href  = "https://github.com/CPAN-API/cpan-api/wiki/Beta-API-docs"
           title = "Docs for the MetaCPAN API"
            >API</a>
    </li>
    <li>
        <a href  = "/about/resources"
           title = "About MetaCPAN"
            >About MetaCPAN</a>
    </li>
    <li>
        <a href  = "https://github.com/CPAN-API/metacpan-web"
           title = "Fork MetaCPAN on GitHub"
            >Fork metacpan.org</a>
    </li>
</ul>
<div id = "hosting">
    Hosting generously sponsored by
    <a href="http://speedchilli.com">speedchilli</a>
    <br />
    <a href="http://speedchilli.com">
        <img src="/static/images/speedchilli.png" alt="SpeedChilli.com">
    </a>
</div>
