<%-
menu = [
    { name = "Home",       title = "MetaCPAN home page"         path = ["/", "/search"] },
    { name = "Recent",     title = "Recent releases"            path = ["/recent"] },
    { name = "Mirrors",    title = "CPAN mirrors"               path = ["/mirrors"] },
    { name = "News",       title = "Recent changes to MetaCPAN" path = ["http://blogs.perl.org/users/mo/"]},
    { name = "FAQ",        title = "FAQ"                        path = ["https://github.com/CPAN-API/cpan-api/wiki/FAQ"] },
]
%>

<ul id = "header" class="navbar">
    <li class = "account">
        <%- IF user_exists %>
            <a href="/account/profile" title = "Account settings">
                <img src="/static/icons/settings.png" width=16 alt = "Account settings">
                Welcome
            </a>
        <%- ELSE %>
            <a href="#" class="signin" onclick="this.id='foo'">Sign in</a>
            <% PROCESS auth_options %>
        <% END %>
    </li>
    <% FOREACH item IN menu %>
        <li <%
                (item.path.grep(->{ this == req.uri.path} ).size
                    ? 'class="current"'
                    : ''
                ) | none
            %>
        >
            <a href = "<% item.path.0 %>" title = "<% item.title %>">
                <% item.name %>
            </a>
        </li>
    <% END %>
</ul>

<script type="text/javascript">
   // Workaround for android absolute positioning hover bug
   // http://code.google.com/p/android/issues/detail?id=6721
   $(function() {
       $('#header .signin').click(function(){
           this.id = 'dummmy_signin';
           this.id = ''
       })
   });
</script>

<% BLOCK auth_options %>
<ul id="auth_options">
    <% FOREACH identity IN ['Facebook', 'GitHub', 'Twitter'] %>
        <li>
            <a href = "<% api_secure %>/oauth2/authorize?choice=<% identity.lower %>&amp;client_id=<% c.config.consumer_key %>"
                ><% identity %></a>
        </li>
    <% END %>
</ul>
<% END %>
