<script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://metacpan.org/piwik/" : "http://metacpan.org/piwik/");
    $(function() {
        $.getScript(pkBaseURL + 'piwik.js', function() {
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {};
        })
    });
</script>
<noscript><p><img src="http://metacpan.org/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
