<div id = "header_search">
    <form action="/search" id = "header_search">
    <a href="/" title = "MetaCPAN home page">
        <img src="/static/images/cpan_banner.png" alt="CPAN Logo">
    </a>
        <div>
            <input id    = "search-input" type="text" name="q"
                   value = "<% req.param('q').join(' ') or req.parameters.lucky %>"
            ><button type="submit">
                Search
            </button>
            <% PROCESS stats IF total.defined %>
        </div>
    </form>
</div>
<div class="clear">&nbsp;</div>

<% BLOCK stats %>
    <div class = "search_stats">
        <% IF page > 1 %>
            Page <% page %> of
        <% END %>
        <%
            total == 999  ? 'more than 999 results'
          : total == 1    ? '1 result'
          :                 total _ ' results';
        %>
        (<% took / 1000 %> seconds)
</div>
<% END %>
